USE [master]
GO
/****** Object:  Database [qlsv3]    Script Date: 10/15/2023 9:08:53 AM ******/
CREATE DATABASE [qlsv3]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'qlsv3', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.TRUNGLEE\MSSQL\DATA\qlsv3.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'qlsv3_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.TRUNGLEE\MSSQL\DATA\qlsv3_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [qlsv3].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [qlsv3]
GO
/****** Object:  Table [dbo].[fees]    Script Date: 10/15/2023 9:08:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[fees](
	[mobileNo] [bigint] NOT NULL,
	[fmonth] [varchar](60) NOT NULL,
	[amount] [bigint] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[newStudent]    Script Date: 10/15/2023 9:08:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[newStudent](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[mobile] [bigint] NOT NULL,
	[name] [varchar](250) NOT NULL,
	[fname] [varchar](250) NOT NULL,
	[mname] [varchar](250) NOT NULL,
	[email] [varchar](250) NOT NULL,
	[paddress] [varchar](250) NOT NULL,
	[college] [varchar](250) NOT NULL,
	[idproof] [varchar](250) NOT NULL,
	[roomNo] [bigint] NOT NULL,
	[living] [varchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[rooms]    Script Date: 10/15/2023 9:08:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[rooms](
	[roomNo] [bigint] NOT NULL,
	[roomStatus] [varchar](250) NOT NULL,
	[Booked] [varchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[roomNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[fees] ([mobileNo], [fmonth], [amount]) VALUES (66666, N'August 2023', 2000000)
INSERT [dbo].[fees] ([mobileNo], [fmonth], [amount]) VALUES (4444, N'June 2023', 2000000)
GO
SET IDENTITY_INSERT [dbo].[newStudent] ON 

INSERT [dbo].[newStudent] ([id], [mobile], [name], [fname], [mname], [email], [paddress], [college], [idproof], [roomNo], [living]) VALUES (3, 4444, N'trung', N'trungf', N'trungm', N'trungkmas@gmail.com', N'Ha Noi', N'Hou', N'156563', 22, N'No')
SET IDENTITY_INSERT [dbo].[newStudent] OFF
GO
INSERT [dbo].[rooms] ([roomNo], [roomStatus], [Booked]) VALUES (22, N'Yes', N'No')
GO
ALTER TABLE [dbo].[newStudent] ADD  DEFAULT ('Yes') FOR [living]
GO
ALTER TABLE [dbo].[rooms] ADD  DEFAULT ('No') FOR [Booked]
GO
ALTER TABLE [dbo].[newStudent]  WITH CHECK ADD FOREIGN KEY([roomNo])
REFERENCES [dbo].[rooms] ([roomNo])
GO
USE [master]
GO
